body {
    width: 100%;
    /* height: 100vh; */
    /* background: #03045e; */
    /* overflow: hidden; */
  }
  
  .circle {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: absolute;
    animation: fade 1s linear;
    -webkit-box-shadow: 0px 0px 37px 0px rgba(45, 255, 196, 0.72);
    -moz-box-shadow: 0px 0px 37px 0px rgba(45, 255, 196, 0.72);
    box-shadow: 0px 0px 37px 0px rgba(45, 255, 196, 0.72);
  }
  @keyframes fade {
    from {
      scale: 0;
      filter: hue-rotate(90deg);
    }
    to {
      scale: 1.3;
      filter: invert(1);
      filter: hue-rotate(0deg);
    }
  }
  