#homepage {
   
    height: 600px;
    display: flex;
    padding-top: 80px;
    overflow: hidden;
    
}

#homepage>div:nth-child(1) {
   
    width: 40%;
    
}
#homepage>div:nth-child(2) {
 
    width: 70%;
    
}

#image {
    align-items: center;
    justify-content: center;
    display: flex;
}

#image>img {
    width: 70%;
    border-radius: 100%;

}

#name {
    display: block;

}

#name>h1:nth-child(1) {
    padding-top: 50px;
}

#name>h1:nth-child(1),
#name>h1:nth-child(2) {
    font-size: 60px;
    margin: 20px;
}

#name>h1:nth-child(3) {
    margin-left: 20px;
}

#name>h1 {
    color: white;
}
#name>p {
    margin: 20px;
    font-size: large;
    color: white;
    margin-right: 90px;
}
#name>button{
    padding: 20px;
    margin: 20px;
    width: 120px;
    font-size: large;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#name>button:hover{
    color: red;
}












@media (max-width:940px){
    #homepage{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        padding-top: 70px;
        height: auto
    }
    #homepage>div{
        width: 80%;
        padding-top: 0px;
        margin: auto;
    }
    #homepage>div:nth-child(1) {
        /* border: 1px solid green; */
        width: 100%;
        margin-top: 10px;
        /* display: flex; */
        /* background-image: url("../img/Blue\ Aqua\ Minimalist\ Sea\ Soothes\ the\ Soul\ Quote\ Instagram\ Post.png"); */
       
    }
    
#homepage>div:nth-child(1)>img{
    width: 50%;
}
    #homepage>div:nth-child(2) {
        /* border: 1px solid green; */
        width: 70%;
        /* display: flex; */
        /* background-image: url("../img/Blue\ Aqua\ Minimalist\ Sea\ Soothes\ the\ Soul\ Quote\ Instagram\ Post.png"); */
       
    }
    #name>h1:nth-child(1) {
        padding-top: 0px;
    }
    
    #name>h1:nth-child(1),
    #name>h1:nth-child(2) {
        font-size: 20px;
        margin: 0px;
        margin-left: 10px;
    }
    
    #name>h1:nth-child(3) {
        margin-left: 10px;
        font-size: 20px;
    }
    #name>p {
        margin: 10px;
        font-size:medium;
        color: white;
        margin-right: 5px;
    }
}

@media (max-width:650px){
    #homepage{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        padding-top: 70px;
        height: auto
    }
    #homepage>div{
        width: 100%;
        padding-top: 0px;
        margin: auto;
    }
    #homepage>div:nth-child(1) {
        /* border: 1px solid green; */
        width: 100%;
        margin-top: 10px;
        /* display: flex; */
        /* background-image: url("../img/Blue\ Aqua\ Minimalist\ Sea\ Soothes\ the\ Soul\ Quote\ Instagram\ Post.png"); */
       
    }
    
#homepage>div:nth-child(1)>img{
    width: 50%;
}
    #homepage>div:nth-child(2) {
        /* border: 1px solid green; */
        width: 100%;
        /* display: flex; */
        /* background-image: url("../img/Blue\ Aqua\ Minimalist\ Sea\ Soothes\ the\ Soul\ Quote\ Instagram\ Post.png"); */
       
    }
    #name>h1:nth-child(1) {
        padding-top: 0px;
    }
    
    #name>h1:nth-child(1),
    #name>h1:nth-child(2) {
        font-size: 20px;
        margin: 0px;
        margin-left: 10px;
    }
    
    #name>h1:nth-child(3) {
        margin-left: 10px;
        font-size: 20px;
    }
    #name>p {
        margin: 10px;
        font-size:medium;
        color: white;
        margin-right: 5px;
    }
}
























.experience>h1 {
    width: 20%;
    margin: auto;
    padding-bottom: 20px;
    }
    
    
    
    
    
    
    .job-description {
      display: flex;
      padding: 20px;
      border-radius: 8px;
    
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin: 20px auto;
      max-width: 800px;
    }
    
    .image-section {
      flex: 0 0 auto;
    }
    
    .logo {
      max-width: 150px;
      border-radius: 8px;
    
    }
    
    .content-section {
      flex-grow: 1;
      padding-left: 20px;
    }
    
    .title {
      margin-top: 0;
    }
    
    .location, .position, .details {
      margin: 8px 0;
    }
    
    .details {
      font-size: 14px;
      line-height: 1.6;
    }