#skils {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center
}

#skils>div {
    width: 70%;

    margin: auto;
}

#Techinal {
    width: 50%;
}

.techSkillName {
    font-size: 30px;
    margin-top: 20px;
}

.techskills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    /* width: 40%; */
    justify-content: center;

}

.techskills>div>img {
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */

}

.techskills>div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#tools {
    margin-top: 30px;
}




#github{


    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
}
#github>div{


    width: 90%;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
#github>div>img{


    width: 45%;
}

@media (max-width:940px) {
    .techskills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    }
}