#skils {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
    width: 70%;
   margin: auto;
}

#skils>div {
    width: 50%;
    /* border: 1px solid red; */
    margin: auto;
}

/* #Techinal {
    width: 30%;
    border: 1px solid red;
} */

.techSkillName {
    font-size: 30px;
    margin-top: 20px;
}

.techskills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    /* width: 40%; */
    justify-content: center;
    overflow: hidden;

}

.techskills>div>img {
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */

}

.techskills>div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    justify-content:space-between;
   
}

#tools {
    margin-top: 30px;
}




#github_kishor_mane{


    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
}
#github_kishor_mane>div{


    width: 90%;
    /* display: flex; */
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
#github_kishor_mane>div img{
    width: 50%;
}
#github_kishor_mane>div img:nth-child(2){
    width: 43%;
}

#gitcalendar{
    display: grid;
    justify-content: center;
    margin-top: 40px;
}
.calendar{
    width: 80%;
}

@media (max-width:940px) {
    .techskills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    }
    #github_kishor_mane{
        width: 90%;
        /* border: 2px solid red; */
      display: block;
    } 
    
  #github_kishor_mane>div{
        width: 90%;
        /* border: 2px solid red; */
         display: grid;
        grid-template-columns: repeat(1,1fr);
       
        /* margin: 0px; */
    }
    #github_kishor_mane>div img{
       width: 100%;
       margin-top: 10px; 
       
    } 
    #github_kishor_mane>div img:nth-child(2){
        width: 100%;
        margin-top: 10px; 
        
     } 
    .calendar{
        width: 95%;
    }
  
}

