#skils{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* align-items: center; */
    justify-content: center;
    text-align:center

}

#skils>div{
    width: 70%;
    height: 200px;
    border: 1px solid red;
    margin: auto;
}

